.btn-component {
  border-radius: 16px;
  height: 54px;

  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */

  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 8px;
  justify-content: center;

  border: 0;
  outline: 0;

  transition: transform 0.3s ease-in-out;
}

.btn-component[mode="main"] {
  background-color: var(--main);
  color: var(--gray2);
}

.btn-component[mode="gray"] {
  background-color: var(--gray3);
  color: var(--white);
}

.btn-component:hover {
  cursor: pointer;
  transform: scale(1.03);
}
