.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
}

img {
  width: 240px;
  height: 240px;
  border-radius: 16px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.2);
}
