.header {
  display: flex;
  justify-content: space-between;
  background: var(--main-bg);
  padding-top: 48px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px var(--main-bg);
  z-index: 1000;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__menu__item {
  color: #f5f5f5;
  text-align: right;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150.4%; /* 24.064px */
  text-transform: capitalize;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.header__menu__item:hover {
  color: var(--main);
}
.header__locales {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header__locales .header__locale {
  text-align: right;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150.4%; /* 24.064px */
  text-transform: capitalize;
  padding: 2px 4px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.header__locales .header__locale:hover {
  color: var(--main);
}

.header__logo {
  color: var(--white);
  font-size: 48px;
}

.header[data-dir="rtl"] {
  flex-direction: row-reverse;
}
