.price-card__container {
  display: flex;
  height: 100%;
  width: 340px;
  padding: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 50px;

  transition: 0.3s ease-in-out;
  background: var(--gray);
  color: var(--white);
}

.price-card__container.hovered {
  background: var(--main);
  color: var(--gray);
  cursor: pointer;
}

.price-card__heading {
  color: inherit;
  text-align: center;
  font-size: 36px;
  line-height: 140%;
  text-transform: capitalize;
}
.price-card__price {
  color: inherit;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.price-card__program-list {
  padding: 20px 0 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.price-card__program-list > div {
  color: inherit;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  list-style: none;
  display: flex;
  padding: 10px 0 20px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
