.tick-square__container {
  color: #fff;
  background-color: black;
  text-align: center;
  font-family: Rubik, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 16px;
}

.tick-square__image {
  width: 32px;
  height: 32px;
}

.tick-square__container[data-dir="rtl"] {
  flex-direction: row-reverse;
}
