#ticket-section {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}

#ticket-section h1 {
  color: var(--main);
  margin: 0 auto;
}

#ticket-section .price-plans-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
