.section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  align-self: stretch;
  margin: 0 200px;
}

.arrows__container {
  display: flex;
  gap: 48px;
}

.heading__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.heading__container h1 {
  margin: 0;
}

.checkbox__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 48px;
  align-self: stretch;
  flex-wrap: wrap;
}

.header-1 {
  align-self: stretch;
  color: var(--main, #fe772d);
  text-align: center;
  font-family:
    Jolly Lodger,
    sans-serif;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 81.2px */
  text-transform: uppercase;
}

.header-2 {
  flex-shrink: 0;
  color: var(--red);
  text-align: center;
  font-family:
    Jolly Lodger,
    sans-serif;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 81.2px */
  text-transform: uppercase;
}

.text__span {
  align-self: stretch;
  color: #fff;
  text-align: center;
  font-family: Rubik, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  text-transform: uppercase;
}
