#hero-section .header {
  color: var(--main);
  text-align: center;
}

#hero-section .date__container {
  display: flex;
  justify-content: center;
  margin-top: 54px;
}

#hero-section .date__span {
  font-family: Rubik;
}

#hero-section {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 69.99%,
      #000015 100%
    ),
    url("../../../assets/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

#hero-section .arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.date__container[data-dir="rtl"] {
  flex-direction: row-reverse;
}

.arrow {
  cursor: pointer;
}
