.ticket-component__container {
  display: flex;
  align-items: center;
}

.ticket-data__container {
  display: flex;
  padding: 12px 24px;
  flex-direction: column;
  align-items: center;

  border-radius: 16px;
  border-color: var(--white);
  border-top: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

.ticket-data__container .ticket-data__datetime {
  color: var(--white);

  text-align: center;
  font-family: Rubik, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  text-transform: capitalize;
}

.ticket-data__container .ticket-data__location {
  color: var(--white);

  font-family: Rubik, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  text-transform: capitalize;
}

.ticket-data__container .ticket-data__location__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.ticket-component__container[data-dir="rtl"] {
  flex-direction: row-reverse;
}

.ticket-component__container[data-dir="rtl"] .ticket-data__location__container {
  flex-direction: row-reverse;
}

.ticket-component__container[data-dir="rtl"] .ticket-data__container {
  border-right: 0;
  border-left: 2px solid;
}

.ticket-component__container[data-dir="rtl"] .ticket__image {
  transform: rotate(180deg);
}
