#footer-section {
  display: flex;
  height: 788px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  position: relative;
}

#footer-section img.background {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#footer-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 110px;
  height: 100%;
  z-index: 10;
}

#footer-section .container .phone {
  color: var(--main);
}

#footer-section .container .social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
