:root {
  --main-bg: #000015;
  --main: #fe772d;
  --gray: #333333;
  --white: #f5f5f5;
  --gray2: #292d32;
  --gray3: #292929;
  --red: #fe2d2d;
}

html,
body {
  font-family: "Jolly Lodger", sans-serif;
  background-color: var(--main-bg);
  color: var(--white);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
}

html,
body {
  margin: 0;
  padding: 0;
}

body[data-dir="rtl"] {
  font-family: "Rubik", sans-serif;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.section-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

h1 {
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
}
app-header {
  position: sticky;
  top: 0;
}
